# R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# RStudio files ----
*.Rproj
.Rproj.user/

# R Environment Variables ----
.Renviron

# User-specific files ----
README.html
inst/doc
man/
NAMESPACE
data/
*_cache
/.quarto/
.snakemake
report.html
